@media only screen and (max-width: 1600px){
    .home_section {
    padding: 40px;
}
}

@media only screen and (max-width: 1400px){
    /* home-section-starts */
    .main_profile_image_area {
    width: 300px;
    height: 300px;
}
.main_home-image {
    max-width: 300px;
    height: 300px;
}
    /* home-section-ends */
}

@media only screen and (max-width: 1199px){
/* home-section-starts */
.home_me h2 {
    font-size: 40px;
    margin-bottom: 8px;
}
.main_profile_image_area {
    width: 280px;
    height: 280px;
    margin: 0 auto; 
    margin-bottom: 20px;
}
.main_home-image {
    max-width: 280px;
    height: 280px;
}
.home_me{
    text-align: center;
}
.home_btn {
    justify-content: center;
}
/* home-section-end */

/* counter-section-starts */
.counter_section {
    padding: 25px 0;
}
.c-counter__col i {
    font-size: 37px !Important;
}
.counter_content h2 {
    font-size: 37px;
}
.counter_content h3 {
    font-size: 25px;
}

/* counter-section-ends */

/* contact-section-starts */
.contact_row{
    display: flex;
    justify-content: center;
    row-gap: 40px;
    padding-top: 30px;
}
.contact_common_content {
    height: unset;
}
/* contact-section-end */
}

@media only screen and (max-width: 991px){

    .logo h2 a{
            width: 100%;
        display: block;
}
.cross{
display: block;
}
.hamburger_menu_section{
    justify-content: space-between;
    padding:10px 20px;
}
.sidebar {
    transform: translateX(-100%);
}
.sidebar.mobile_active {
    transform: translateX(0);
}
.main_wrapper {
 width: 100%;
}
.toggle_btn a i{
    display: block;
}
.hamburger_menu_section {
    position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  color: var(--primary-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s ease;
  z-index: 9;
  top: -70px; /* Hidden by default */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
}
